/* Variables
   ========================================================================== */
$color: #000;

/* MISC
   ========================================================================== */
// @import "tools/reset";
@import "tools/helpers";
@import "tools/responsive";

/* Generic
   ========================================================================== */
body {
  font-size: 16px;
  color: inherit;
  background: #CCC;
}

/* Tools
   ========================================================================== */
// @import "tools/wordpress";
@import "tools/layout";

/* Modules
   ========================================================================== */
// @import "modules/comments";

/* Pages
   ========================================================================== */
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
