// Variables
// ==================
$color: #000;

// Outils
// ==================
@import "tools/reset";
@import "tools/functions";
@import "tools/mixins";

// Generic
// ==================
body {
  font-size: 16px;
  color: inherit;
  background: #CCC;
}

// Modules
// ==================
// @import "modules/comments";

// Pages
// ==================
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
